<nav>
    <label class="logo"> Holger Danske</label>
    <ul>
      <li><a href="/">Frontpage</a></li>
      <li><a href="/worker">Home</a></li>
      <li><a href="/worker"> <% name %> </a></li>
      <li><a href="/worker/logout" class="">Logout</a></li>
    </ul>
  </nav>