<nav>
    <label class="logo"> Holger Danske</label>
    <ul>
      <li><a href="/">Frontpage</a></li>
      <li><a href="/worker">Home</a></li>
      <li><a href="/worker"> NAME</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </nav>