<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> <%=name %> </div>
    <button id ="test"> test</button>
    <button id ="purge"> Purge Users</button>
    <select name="collection" id="collection">
        <option value="users">Users</option>
        <option value="buyers">Buyers</option>
    </select>
</body>
<script>
    const purge = document.getElementById("purge");

    purge.addEventListener("click", async () => {
        try{
        const response = await fetch("/admin/purge", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                collection: document.getElementById("collection").value,
            }),
        });

        if(response.status === 200)
        {  
            const responseJson = await response.json();
            console.log(responseJson.message);
        }
        else
        {
            console.log("Error");
        }

    }catch (err) {
        console.log(err);
    }
    });
        
</script>


</html>