<link rel="stylesheet" href="/stylesheets/welcome.css">

<body>
        <h1>GRID SERVER</h1>
        <h2>Get ready to exploit other people</h2>
        
        <div class="register-button">
          <a href="/buyer/register" class="">Register</a>
          <a href="/buyer/login" class="">Login</a>
        </div>
        <!-- <a href="/buyer/logout" class="">Logout</a> -->

</body>
  