*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    height: 80px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.616);
}

label.logo{
    font-size: 28px;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    justify-content: left;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a:hover{
    border: 1px solid white;
    transition: .5s;
}

.netflix{
    height: 100%;
}