<div class="">
    <div class="">
      <div class="">
        <h1><i class=""></i></h1>
        <p>Create an account or login</p>
        <a href="/worker/register" class=""
          >Register</a
        >
        <a href="/worker/login" class="">Login</a>
      </div>
    </div>
  </div>
  