<link rel="stylesheet" href="/stylesheets/welcome.css">

<body>
<div class="gridflix-container">
    <div class="gridflix-subcontainer">
      <div class="gridflix-content">
        <h1>Gridflix</h1>
        <h3>Watch anywhere. Cancel at anytime </h3>
        <h4>Obtain discount for your next subscription</h4>
        
        
        <p>Ready to watch? Create an account today</p>
        <div class="register-button">
          <a href="/worker/register" class="">Register</a>
          <a href="/worker/login" class="">Login</a>
        </div>
     
      </div>
    </div>
  </div>
</body>
  