<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buyer page</title>
    <link href="stylesheets/buyer.css" rel="stylesheet" type="text/css" />
  </head>
  <script src="../routes/buyer.js"></script>
  <body>
    <div>
      <form
        ref="uploadForm"
        id="uploadForm"
        action="/buyer/upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input id="uploadFile" type="file" accept=".csv, .json" />
        <input id="uploadButton" type="submit" value="Upload!" />
      </form>
    </div>
  </body>
</html>
